<h1>Signup as a Technician!</h1>

<form action="/registertech" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button>Signup</button>
</form>