<!DOCTYPE html>
<html>
    <head>
        <title>AgriDrone</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">AgriDrone</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
            
        </nav>

<div class="container">
    <header class="jumbotron" style="background-image: url('https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/eusfuturecyb.jpg');">
        <div class="container">
            <h1 style="color:white">AgriDrone</h1>
            <h4 style="color:white">Helping farmers to drive down the cost and time required while imporoving the crop yield</h4>
            <p>
                <a class="btn btn-success" href="/surveys/new">Add a new Survey!</a>
            </p>
        </div>
    </header>

</div>

<% include partials/footer %>